<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/article">Article</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/content">Content</a></li>
    <li><a routerLink="/search">Search</a></li>
  </ul>
</nav>
<div id="geniee_overlay">
  <div
    style="
      position: fixed;
      inset: auto 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 100px;
      margin: auto;
      background: #fff;
      font-size: 1.3rem;
      font-weight: bold;
      color: #000;
    "
  >
    <img
      src="https://works.gsspcln.jp/w/ad_format/close_icons/close_icon_bold.png"
      width="16"
      height="16"
      id="geniee_overlay_close"
      style="position: absolute; top: -16px; left: 0"
    />
    300×100
  </div>
</div>
<router-outlet></router-outlet>
